{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

<script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}

<div class="coffee-gallery page-width section-{{ section.id }}-padding">
  {% render 'product-media-gallery', variant_images: variant_images %}
  {% render 'product-media-modal' %}
</div>

{% schema %}
{
  "name": "Coffee: Gallery",
  "tag": "section",
  "class": "section",
  "limit": 1,
  "settings": [
    {
      "type": "select",
      "id": "gallery_layout",
      "label": "Desktop layout",
      "options": [
        { "value": "stacked", "label": "Stacked" },
        { "value": "columns", "label": "2 columns" },
        { "value": "thumbnail", "label": "Thumbnail" },
        { "value": "thumbnail_slider", "label": "Thumbnail slider" }
      ],
      "default": "stacked"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "label": "Mobile layout",
      "options": [
        { "value": "show", "label": "Show thumbnails" },
        { "value": "hide", "label": "Hide thumbnails" },
        { "value": "columns", "label": "2 columns" }
      ],
      "default": "hide"
    },
    {
      "type": "select",
      "id": "media_size",
      "label": "Media width",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "large"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "label": "Hide other variants' media after selecting a variant",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "label": "Enable sticky gallery on desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 12
    }
  ],
  "presets": [
    {
      "name": "Coffee: Gallery"
    }
  ]
}
{% endschema %}
